.footer{
    font-size: 1.3rem;
    cursor: pointer;
    border-top: 1px solid #ffffff9a;
}
a{
    text-decoration: none;
}
@media only screen and (max-width:998px){
   h2,p{
    text-align: center;
   }
}