<div class="container-footer bg-dark text-white">
    <div class="container info py-5">
        <div class="row">
           <div class="col-lg-4">
                 <h2>Dilkhush Kumar</h2>
                 <p class="py-3 px-1">As a dedicated and experienced Full Stack Web Developer, I, Dilkhush Kumar, possess a comprehensive skill set that spans both front-end and back-end development. <br> <br> My expertise allows me to create robust, dynamic, and user-centric web applications that deliver seamless user experiences.
  
                 </p>
           </div>
           <div class="col-lg-4 text-center">
               <h2>Important Links</h2>
               <p class="text-center pt-3"><a routerLink="/Home" class="text-white">Home</a></p>
               <p class="text-center"><a routerLink="/tech-text" class="text-white">text-tech</a></p>
               <p class="text-center"><a routerLink="/interest" class="text-white">Interst</a></p>
           </div>
           <div class="col-lg-4">
              <h2>Contact Me</h2>
              <p class="pt-3">Email : dilkhushsingh974&commat;gmail.com</p>
              <p>Phone : +91 6203268293</p>
               <p style="font-size: 1.4rem; cursor:pointer;"><span><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-github mx-5"></i> <i class="fa-brands fa-linkedin"></i></span></p>
           </div>
  
        </div>
    </div>
    <div class="footer text-center bg-dark text-white py-4" >
      <span> Dilkhush Kumar</span>
       <span class="mx-5">|</span>
      <span><i class="fa-brands fa-facebook mx-5"></i> <i class="fa-brands fa-github"></i> <i class="fa-brands fa-linkedin mx-5"></i></span>
    </div>
  </div>
