
<!-- tech text  -->
<div class="container-main">
  <div id="carouselExampleCaptions" class="carousel slide">
          
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
     
    </div>
    
    <div class="carousel-inner"><!--The Carousel Container-->

      <div class="carousel-item carousel-item-1 active"><!--The Carousel Slider-->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
            <aside class="card team1">
                <img src="https://img-c.udemycdn.com/course/750x422/5380132_3dad.jpg" alt="">
               <div class="caption">
                <h2 class="name">HTML and CSS</h2>
                <p class="role">10+ Projects</p>
                <p class="work-at"><b>Details : </b><small>e-commerce and website clone</small></p>
               </div>
            </aside>
            </div>
            
            <div class="col">
            <aside class="card team2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2PwRQttmK18ZBYWADrccj8tjjsnIWtDFvqQ&s" alt="">
                <div class="caption">
                  <h2 class="name">Javascript</h2>
                <p class="role">5 + projects</p>
                <p class="work-at"><b>Details : </b><small>mini projects</small></p>
                </div>
               
            </aside>
            </div>
            
            <div class="col">
            <aside class="col card team3 ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxE4yX05WNb0NepRgke0eNIvPoL5TWzu2vLw&s" alt="">
                <div class="caption">
                <h2 class="name">Bootstarp and css</h2>
                <p class="role">7 + Projects</p>
                <p class="work-at"><b>Details : </b><small>Ecommerce and website clone</small></p>
                </div>
            </aside>
            </div>
        </div>
      </div>


    
      <div class="carousel-item carousel-item-2">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
            <aside class="card team4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPP8lNVvigz1YFlbFkR9-4RYF3hO6UGDUTvQ&s" alt="">
                <div class="caption">
                  <h2 class="name">Mern stack ( React )</h2>
                  <p class="role">1 Projects</p>
                  <p class="work-at"><b>Details : </b><small>Ecommerce website (manage cart and product)</small></p>
                </div>
              </aside>
            </div>

            <div class="col">
              <aside class="card team5">
                  <img src="https://miro.medium.com/v2/resize:fit:1400/1*QXXviQI-N1jzuOOajsIe7g.png" alt="">
                  <div class="caption">
                    <h2 class="name">Node.js</h2>
                   
                    <p class="work-at"><b>Details : </b><small>Ongoing</small>r</p>
                  </div>
                </aside>
            </div>

            <div class="col">
                <aside class="card team6">
                  <img src="https://repository-images.githubusercontent.com/314186076/79a18fff-1aeb-4a12-9340-db81b383b5e7" alt="">
                  <div class="caption">
                    <h2 class="name">Angular</h2>
                    <p class="role">Content Writer</p>
                    <p class="work-at"><b>Details : </b><small>Ongoing</small></p>
                  </div>
                </aside>
        </div>
      </div>
    </div>
  </div>

  <div class="control-btn">
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <i class="fa-solid fa-arrow-right"></i>

      <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
      <i class="fa-solid fa-arrow-left"></i>
      <span class="visually-hidden">Previous</span>
    </button>
</div>

</div>


