<div class="container">
    <div class="card">
        <img src="https://img-c.udemycdn.com/course/750x422/5380132_3dad.jpg" class="card-img-top" alt="..." class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">HTML and CSS</h5>
          <p class="card-text">10+ Projects</p>
          <p class="card-text"><b>Details : </b><small>e-commerce and website clone</small></p>
        </div>
      </div>

      <div class="card" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2PwRQttmK18ZBYWADrccj8tjjsnIWtDFvqQ&s" class="card-img-top" alt="..." class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">Javascript</h5>
          <p class="card-text">5 + projects</p>
          <p class="card-text"><b>Details : </b><small>mini projects</small></p>
        </div>
      </div>
      
      <div class="card" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxE4yX05WNb0NepRgke0eNIvPoL5TWzu2vLw&s" class="card-img-top" alt="..." class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">Bootstarp and css</h5>
          <p class="card-text">5 + Projects</p>
          <p class="card-text"><b>Details : </b><small>Ecommerce and website clone</small></p>
        </div>
      </div>
      <div class="card" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPP8lNVvigz1YFlbFkR9-4RYF3hO6UGDUTvQ&s" class="card-img-top" alt="..." class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">Mern stack ( React )</h5>
          <p class="card-text">1 Projects</p>
          <p class="card-text"><b>Details : </b><small>Ecommerce website (manage cart and product)</small></p>
        </div>
    </div>

     <div class="card" >
        <img src="https://miro.medium.com/v2/resize:fit:1400/1*QXXviQI-N1jzuOOajsIe7g.png" class="card-img-top" alt="..." class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">Node.js</h5>
          <p class="card-text"><b>Details : </b><small>Ongoing</small></p>
        </div>
      </div>

     <div class="card">
        <img src="https://repository-images.githubusercontent.com/314186076/79a18fff-1aeb-4a12-9340-db81b383b5e7" class="card-img-top" alt="..." class="img-fluid">
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text"><b>Details : </b><small>Ongoing</small></p>
        </div>
      </div>
      
      
</div>
